  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Postit", posts_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% cache [@categories] do %>
                <% @categories.each do |cate| %>
                  <li><%= link_to cate.name, cate %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag gravatar_url("szteven3@gmail.com"), class: "avatar_img" %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Sign in as <%= current_user.name %></a></li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-pencil"></i>Edit Profile
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-user"></i>View Prorile
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fa fa-arrow-circle-left"></i>Logout
                  <% end %>
                </li>

              </ul>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
