<div class="row">
  <div class="col-md-2">
    <div class="well block-vote">
      <%= link_to vote_post_path(post, vote: true), method: :post, class: "vote-up" do %>
        <i class="fa fa-arrow-up"></i>
      <% end %>
      <span class="vote-count"><%= post.total_votes %> votes</span>
      <%= link_to vote_post_path(post, vote: false), method: :post, class: "vote-down" do %>
        <i class="fa fa-arrow-down"></i>
      <% end %>
    </div><!-- well -->
  </div><!-- col-md-1 -->
  <div class="col-md-8">
    <div class="well">
      <% post.categories.each do |category| %>
        <span class="badge">
          <%= link_to category.name, category %>
        </span>
      <% end %>
      <h3><%= link_to post.title, post %></h3>
      <div class="post-content">
          <%= sanitize post.content.gsub(/\n/, '<br/>') %>
      </div><!-- post-content -->
      <p>
        <span class="quiet">posted by</span> <%= link_to "Steven", "#" %>
        <small>at 10/30/2015  7:43am PDT</small>
      </p>
      <%= link_to "0 comments", "#" %>
    </div><!-- well -->
  </div><!-- col-md-8 -->
</div><!-- row -->
